# Ignore everything by default
/*

# Allow the project folder (Pneumonia-Detection) and its contents
!Pneumonia-Detection/

# Ignore specific file types inside the project folder (if you want)
*.lnk
*.exe
*.pdf
*.pptx
*.docx
*.txt
*.ini

